.baikal {
    width: calc(100% - 2*48px);
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    /*здесь устанавливаем высоту блока исходя из того, 
    что отношение ширины картинки к её высоте равно 1.6*/
    height: calc((100vw - 2*48px) / 1.6); 
    
    max-width: 1184px;
    max-height: 740px;
}

@media screen and (max-width: 1024px) {
    .baikal {
        width: 100%;
        height: calc(100vw / 1.6);
    }
}
