.lead__card {
    width: calc(100vw - 2*148px);
    min-width: 320px; /*ограничение на минимальный размер*/

    padding-top: 64px;
}

@media screen and (max-width: 1280px) {
    .lead__card {
        width: 76.875vw;
    }
}

@media screen and (max-width: 1024px) {
    .lead__card {
        width: 90.625vw;
        padding-top: 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__card {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .lead__card {
        padding-top: 40px;
    }
}